.advantages
  background-color: #F3F3F3

  h2
    padding-top: 60px
    padding-bottom: 63px
    +sm(padding, 35px 0)

  &__item

    img
      +md(width, 100%)

    h3
      margin-top: 30px
      margin-bottom: 33px
      +sm(margin, 25px 0)

    p
      line-height: 28px
      +sm(padding-bottom, 20px)

  &__slider
    padding-bottom: 100px
    position: relative
    +sm(padding-bottom, 70px)

    .swiper-container-adv
      width: 100%
      max-width: 970px
      height: 520px
      margin-left: auto
      margin-right: auto
      position: relative
      overflow: hidden
      list-style: none
      padding: 0
      z-index: 1
      +sm(height, auto)


  .slider__btn
    height: 70px
    width: 130px
    display: none
    align-items: center
    justify-content: space-between
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    +sm(display, flex)



    .swiper-button-prev-adv,
    .swiper-button-next-adv
      display: inline-block
      outline: none
      width: 50px
      height: 50px
      cursor: pointer

    .swiper-button-prev-adv
        background: url(/app/img/slider-buttons/prev.png) no-repeat

    .swiper-button-next-adv
        background: url(/app/img/slider-buttons/next.png) no-repeat

    .swiper-button-disabled
        filter: opacity(25%)

        img
          height: 100%
          +md(margin, 0 auto)
          +md(height, auto)