.advantages
  background-color: #F3F3F3

  h2
    padding-top: 60px
    padding-bottom: 63px

  &__items
    +row-flex
    justify-content: center

  &__item
    +col
    +size(4)
    +size-md(12)
    display: flex
    flex-direction: column

    img
      +md(width, 100%)

    h3
      margin-top: 30px
      margin-bottom: 33px

    p
      line-height: 28px
      +sm(padding-bottom, 20px)


