.order
  background: linear-gradient(to bottom, #f3f3f3, #ffffff)
  padding-bottom: 160px
  +sm(padding-bottom, 40px)

  h2
    padding-top: 105px
    padding-bottom: 70px
    +md(padding-top, 50px)
    +md(padding-bottom, 50px)

  &__content
    +row-flex
    justify-content: space-between
    position: relative

  &__item
    +col
    +size(3)
    +size-md(12)

    &--img
      position: relative
      width: 270px
      height: 270px
      background-color: #EDEDED
      +md(margin, 0 auto)

    &--absolute
      position: absolute
      max-width: initial
      top: -5px
      left: -150px

  .button
    +sm(margin-bottom, 30px)

  &__num
      position: absolute
      bottom: -20px
      right: -10px
      color: #fff
      font-size: 135px
      font-weight: 900
      display: block

  &__text
    font-size: 18px
    line-height: 28px
    margin-top: 43px
    margin-bottom: 38px

  &__man
    position: absolute
    top: -80px
    right: -241px
    z-index: -1

    @media (max-width: 1681px)
      display: none