.reviews
  overflow: hidden
  padding-bottom: 50px

  h2
    padding-top: 60px
    padding-bottom: 30px
    color: #000

  .swiper-container-reviews
    width: 100%
    padding-top: 50px
    padding-bottom: 50px


    .swiper-slide
      width: 100%
      text-align: center
      filter: blur(2px)


      .title
        font-size: 18px
        font-weight: 700
        padding-bottom: 30px

      .text
        font-size: 18px
        font-weight: 500
        font-style: italic

    .swiper-slide-active
      filter: none




  .swiper-button-prev-reviews,
  .swiper-button-next-reviews
      outline: none
      width: 45px
      height: 45px
      cursor: pointer
      bottom: 0
      z-index: 10

  .swiper-button-prev-reviews
    background: url(/app/img/slider-buttons/prev.png) no-repeat

  .swiper-button-next-reviews
    background: url(/app/img/slider-buttons/next.png) no-repeat


  .swiper-button-disabled
    filter: grayscale(100%)

.slider__btn-rew
    height: 70px
    width: 115px
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    bottom: -35px
    left: 50%
    transform: translateX(-50%)

