@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  font-display: swap;
  }
